.site-container {
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: 1fr;  
}
.first {
  background: slategray;
  padding: 1em;
}
.second {
  background: lavender;
  padding: 1em;
}
.callout {
  border:  double black 3px;
  padding: 1em;
}
.error {
  background-color: #efacac;
  border: double 4px darkred;
  color: darkred;
  padding: 1em;
}